html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  cursor: none;
}

body {
    margin: 0 !important;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.container {
    max-width: 95vw;
}

.row {
    margin-left: -2vh;
    margin-right: -2vh;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 2vh;
    padding-right: 2vh;
}

main {
    position: relative;
}

.wrapper {
    position: relative;
    width: 100vw;
    max-width: 177.78vh;
    height: 56.25vw;
    max-height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ccc;
}

header {
    padding: 2vh;
    background-color: #f5f5f5;
    margin-bottom: 7vh;
}

.header-logo img {
    width: auto;
    height: auto;
    max-width: 20vh;
    max-height: 10vh;
    display: block;
    margin: 0 auto;
}

.calendar {
    text-align: center;
    background: #96dbfc;
    width: 15vh;
    font-weight: 700;
}

.calendar span {
    padding: 1vh 1vh;
    display: block;
    line-height: 1.1;
}

.calendar span small {
    display: block;
}

.calendar strong {
    font-size: 4.5vh;
    display: block;
    color: #35ace2;
    font-weight: 400;
    background: #ebebeb;
    width: 100%;
}

.header-time {
    font-size: 6vh;
    color: #999;
}

/* MAIN PAGE */





::-webkit-scrollbar {
width: 2vw;
}

::-webkit-scrollbar-track {
background: #dddddd;
}

::-webkit-scrollbar-thumb {
background: #2886bb;
border: 1px solid #B8BDBD;
}

::-webkit-scrollbar-thumb:hover {
background: #2886bb;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
background-color: #dddddd;
display: block;
border-style: solid;
height: 1.5vw;
width: 2vw;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
border-width: 0 1vw 1vw 1vw;
border-color: transparent transparent #808080 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
border-color: transparent transparent #777777 transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
border-width: 1vw 1vw 0 1vw;
border-color: #808080 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
border-color: #777777 transparent transparent transparent;
}



.index-button {
    background-color: #d6d6d6;
    padding: 2vh;
    height: 16vh;
    display: block;
    margin-bottom: 5vh;
    text-align: center;
    color: #333;
    font-size: 3.5vh;
    position: relative;

    color: #fff;
    background-color: #53b5e2;
    font-weight: 700;
}

.index-button:hover,
.index-button:focus {
    color: #fff;
    background-color: #6bc1e9;
}

.index-button span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1vh;
    right: 1vh;
}

.container-index {
    width: 70vw;
    height: 63vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto;
}

/* MAIN PAGE */



/* FOOTER */

footer {
    background-color: #e7e7e7;
    height: 7vh;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.med-home {
    background-color: #2886bb;
    width: 15vh;
    height: 7vh;
    display: inline-block;
    margin-left: -6vh;
    padding-left: 6vh;
    position: relative;
    margin-right: 6vh;
    vertical-align: middle;
}

.med-home-sub {
    background-color: #b1b1b1;
}

.med-home:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: -7vh;
    width: 0;
    height: 0;
    border: 3.5vh solid;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: #2886bb;
    border-right-color: transparent;
}

.med-home-sub:after {
    border-left-color: #b1b1b1;
}

.med-home img {
    width: 60%;
    margin-top: 0.75vh;
}

.med-footer-second {
    vertical-align: middle;
    color: #fff;
    position: relative;
    background-color: #2886bb;
    width: auto;
    height: 7vh;
    display: inline-block;
    padding-left: 6vh;
    margin-left: -7vh;
    font-size: 2.5vh;
    padding-top: 1.5vh;
    margin-right: 5vh;
}

.med-footer-second:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 0;
    height: 0;
    border: 3.5vh solid;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: #b1b1b1;
    border-right-color: transparent;
}

.med-footer-second:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: -7vh;
    width: 0;
    height: 0;
    border: 3.5vh solid;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: #2886bb;
    border-right-color: transparent;
}

.med-footer-second span {
    display: block;
    margin-right: 2vh;
}

.med-footer-third {
    font-size: 2vh;
    color: #222;
}

/* FOOTER */


/* PHOTOGALS */

.gallery-list {
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: -1vh;
    margin-right: -1vh;
}

.gallery-list-item-slide {
    width: 100%;
    white-space: normal;
    margin-bottom: 1vh;
}

.gallery-list-item {
    width: calc(25% - 2vh);
    display: inline-block;
    vertical-align: top;
    margin: 0 1vh;
    white-space: normal;
}

.gallery-list-item a {
    display: block;
    text-align: center;
}

.gallery-list-item a:hover,
.gallery-list-item a:focus {
    text-decoration: none;
}

.gallery-list-item a h2 {
    height: 7vh;
    color: #333;
    margin: 0;
    line-height: 1.35;
    font-size: 2vh;
    overflow: hidden;
}

.gallery-list-item-pic {
    height: 24vh;
    margin-bottom: 1vh;
}

.gallery-list .flickity-page-dots {
    bottom: 0;
}

.gallery-list .flickity-page-dots .dot {
    width: 5vh;
    border-radius: 1vh;
}

.gallery-detail {
    padding: 0 2.5vh;
}

.gallery-detail-item {
    width: 30%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    margin: 0 5vh;
}

.gallery-detail-item img,
.gallery-detail-item video {
    display: block;
    max-height: 100%;
    transform: scale(0.25);
}

.gallery-detail-item.is-selected {
    opacity: 1;
    z-index: 20;
}

.gallery-detail-item.is-selected img,
.gallery-detail-item.is-selected video {
    transform: none;
}

/* PHOTOGALS */



/* VIDEOALBUM */

.videoalbum-detail {
    width: 100%;
    text-align: center;
    margin-top: -2.5vh;
}

.videoalbum-detail video {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 70vh;
}

/* VIDEOALBUM */



/* NEWS */

.news-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 67vh;
    overflow: hidden;
    overflow-y: auto;
    margin-top: -2vh;
}

.news-list-item {
    background-color: #E0E6E6;
    padding: 3.3vh 4vh;
}

.news-list-item:nth-child(2n+2) {
    background-color: #fff;
}

.news-list-item h2 {
    margin: 0;
    font-size: 3.5vh;
    font-weight: bold;
    color: #2886bb;
    margin-bottom: 1.5vh;
}

.news-list-item a {
    display: block;
    width: calc(100% - 3vh);
    float: right;
    background-color: #2886bb;
    text-align: center;
    font-size: 3vh;
    color: #fff;
    padding: 1.8vh;
}

.news-list-item-text-preview {
    font-size: 2vh;
}

.news-item {
    background-color: #f5f5f5;
    margin-top: -2vh;
}

.news-item-img {
    height: 65vh;
    background-size: cover;
    background-position: 50% 50%;
}

.news-item-text {
    padding: 3vh 3vh;
    font-size: 2vh;
    line-height: 1.75;
    height: 65vh;
    overflow: hidden;
    overflow-y: auto;
}

  .news-item-text h1 {
      color: #2886bb;
      font-size: 4vh;
      font-weight: 700;
      text-align: left;
      margin: 0;
      margin-bottom: 2vh;
  }

  .news-item-text span {
      display: block;
      color: #777;
      margin-bottom: 1.5vh;
      font-size: 2.5vh;
  }

/* NEWS */



/* PAGE TYPE 1 */

.type-1 .page-detail-text {
    height: 65vh;
    overflow-y: auto;
    padding-right: 2vh;
    font-size: 2vh !important;
    line-height: 1.6 !important;
}

.type-1 .page-detail-text h1 {
    font-weight: 700;
    font-size: 4vh;
    margin-bottom: 3vh !important;
}

.type-1 .page-detail-text p {
    margin-bottom: 2vh !important;
}

/* PAGE TYPE 1 */




/* PAGE TYPE 2 */

.type-2 .page-detail-image {
    height: 65vh;
    border-radius: 1vh;
    background-size: cover;
    background-position: 50% 50%;
}

.type-2 .page-detail-text {
    height: 65vh;
    overflow-y: auto;
    padding-right: 2vh;
    font-size: 2vh !important;
    line-height: 1.6 !important;
}

.type-2 .page-detail-text h1 {
    font-weight: 700;
    font-size: 4vh;
}

.type-2 .page-detail-text p {
    margin-bottom: 2vh !important;
}

/* PAGE TYPE 2 */



/* PAGE TYPE 3 */

#lg-download {
    display: none;
}

.type-3 #gallery a {
    height: 65vh;
    margin-bottom: 1.5vh;
    display: block;
    border-radius: 1vh;
    background-size: cover;
    background-position: 50% 50%;
}

.type-3 .page-detail-text {
    height: 65vh;
    overflow-y: auto;
    padding-right: 2vh;
    font-size: 2vh !important;
    line-height: 1.6 !important;
}

.type-3 .page-detail-text h1 {
    font-weight: 700;
    font-size: 4vh;
}

.type-3 .page-detail-text p {
    margin-bottom: 2vh !important;
}

/* PAGE TYPE 3 */




/* PAGE TYPE 4 */

.type-4 .gallery-item {
    width: 100%;
}

/* PAGE TYPE 4 */




/* PAGE TYPE 6 */

.user-pages-item-image {
    width: 12vh;
    height: 12vh;
    background-size: cover;
    background-position: 50% 50%;
}

.type-6 {
    padding: 0 1.6vh;
}

.type-6 .user-pages-item-item img {
    width: 40%;
    margin-bottom: 3vh;
}

.t6-p {
    font-size: 3vh;
    text-align: left;
    padding-left: 16vh;
    padding-right: 2vh;
}

/* PAGE TYPE 6 */



/* PAGE TYPE 7 */

.type-7 .text {
    height: 62vh;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0 auto;
    width: 70vw;
}

  .type-7 .pdf-nav {
      text-align: center;
      margin-top: 1vh;
  }

  .type-7 #prev,
  .type-7 #next {
    background: #2886bb;
    color: #fff;
    padding: 0.5vh 2vh;
    box-shadow: none;
    border: 0;
    font-size: 2vh;
    font-weight: bold;
    border-radius: 1vh;
  }

/* PAGE TYPE 7 */



/* PAGE TYPE 8 */

.buttons {
    position: absolute;
    z-index: 20;
    left: 2vh;
    right: 2vh;
    text-align: center;
}

#prevBtn,
#nextBtn {
    background: #2886bb;
    color: #fff;
    padding: 1vh 2vh;
    box-shadow: none;
    border: 0;
    font-size: 2.5vh;
    font-weight: bold;
}

/* PAGE TYPE 8 */


/* type 9 */

.excel-item {
    width: 94vw;
    width: auto;
    height: 70vh;
    overflow-y: scroll;
    padding-top: 2vh;
    margin-top: -4vh;
    text-align: center;
}

.excel-item table {
    border-collapse: collapse;
    margin: 1rem 0;
    display: inline-block;
    overflow-x: auto;
    text-align: left;
}

.excel-item table tr {
    border-top: 1px solid #dfe2e5;
}

.excel-item table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.excel-item table td,
.excel-item table th {
    border: 1px solid #dfe2e5;
    padding: .6em 1em;
}

/* type 9 */




/* ROUTES */

.key-anim01,
.key-anim02,
.key-anim03,
.key-anim04,
.key-anim05,
.key-anim06,
.key-anim07,
.key-anim08,
.key-anim09,
.key-anim10,
.key-anim11,
.key-anim12 {
    stroke-dasharray: 10;
    stroke-dashoffset: -2000;
    animation: Drawpath 20s linear infinite;
}

@keyframes Drawpath {
    from {
        stroke-dashoffset: -2000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.wrapperm {
    width: 800px;
    height: 450px;
    position: relative;
    margin: 0 auto;
    overflow: visible;
    background-color: #fff;
    transform: scale(1.25);
    transform-origin: 50% 0%;
    margin-top: 4vh;
}

#wrapper-inner {
    width: 800px;
    height: 450px;
    margin-top: 4vh;
}

.map {
    margin-top: -4vh;
}

.map-slide {
    width: 100%;
}

.map img {
    width: 800px;
    height: 450px;
    display: block;
    margin: 0 auto;
}

.map-path {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 800px;
    height: 450px;
}

.med-route-sidebar {
    background-color: #d6d6d6;
    padding: 3vh;
    margin-top: -2vh;
    background-color: #53b5e2;
}

.med-route-sidebar input {
    width: 100%;
    padding: 0.5vh;
    font-size: 2vh;
}

.keyboard {
    margin-top: 0.5vh;
    margin-bottom: 3vh;
}

.keyboard button {
    width: 4.2vh;
    height: 4.2vh;
    line-height: 4.2vh;
    margin-bottom: 0.5vh;
    background-color: #fff;
    font-size: 1.5vh;
    text-align: center;
    padding: 0;
    border: 0.1vh solid;
}

.keyboard .globebutton {
    width: 7vh;
}

.keyboard .spacebutton {
    width: 10vh;
}

#myUL {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 32vh;
    overflow-y: auto;
}

#myUL li {
    display: block;
    background-color: #fff;
    margin-bottom: 1vh;
}

#myUL li a {
    display: block;
    color: #222;
    font-size: 2vh;
    font-weight: 700;
    border: 0.25vh solid #96dbfc;
    padding: 1vh 2vh;
}

/* ROUTES */



/* REVIEWS */

.keyboard-reviews .keyboard {
    margin-top: 7vh;
}

.keyboard-reviews .keyboard button {
    width: 6vh;
    height: 6vh;
    line-height: 6vh;
    font-size: 2.5vh;
}

.keyboard-reviews .keyboard .globebutton {
    width: 12vh;
}

.keyboard-reviews .keyboard .spacebutton {
    width: 17vh;
}

.review-form input[type="text"] {
    border: 1px solid #333;
    font-size: 3vh;
}

.review-form textarea {
    resize: none;
    height: 36vh;
    border: 1px solid #333;
    font-size: 3vh;
}

.review-form .btn-med {
    background-color: #2886bb;
    color: #fff;
    font-size: 3vh;
    padding: 2vh 4vh;
    border-radius: 1vh;
}

.review-h1 {
    font-weight: 700;
    font-size: 4vh;
    margin-top: 0 !important;
    margin-bottom: 5vh !important;
}

/* REVIEWS */