.wrapper {
    width: 1280px;
    max-width: 1280px;
    height: 1024px;
    max-height: 1024px;
}

header .container {
    width: 95vw;
}

.header-time {
    font-size: 5vh;
}

.header-title {
    font-size: 2.7vh;
}

::-webkit-scrollbar-track {
    border-radius: 1vh;
}

::-webkit-scrollbar-thumb {
    border-radius: 1vh;
}

.container-index {
    width: 95vw;
    height: 80vh;
    margin-top: 25vh;
}

.container-index .flickity-prev-next-button {
    top: auto;
    bottom: -7.5vh;
}

.container-index .flickity-button {
    background-color: #5da7fe;
    color: #fff;
}

.container-index .flickity-button:disabled,
.container-index .flickity-button:hover {
    opacity: 1;
    color: #fff;
    background-color: #5da7fe;
}

.index-button span {
    font-size: 2.5vh;
    text-align: center;
    left: 1vh;
    right: 1vh;
}

.index-button {
    width: 21vw;
    margin: 0 1.2vw;
    margin-bottom: 3.5vh;
}

.index-button-full {
    width: 19vw;
    height: 54vh;
}

.index-button-full span {
    max-height: 14vh;
    overflow: hidden;
    margin-top: 20vh;
}

.index-button-full .index-button-icon,
.index-button .index-button-icon {
    margin: 0 auto;
}

.index-button-full .user-pages-item-image,
.index-button .user-pages-item-image {
    margin: 0 auto;
}

.index-button-full .index-button-icon {
    width: 17vh;
    height: 17vh;
    margin-top: 6vh;
}

.index-button-full .user-pages-item-image {
    width: 17vh;
    height: 17vh;
    margin-top: 6vh;
}

.container-index .flickity-viewport {
    margin-left: -1vw;
}

.container-index .flickity-slider {
    margin-left: 0vw;
    margin-right: 0vw;
}

.container-index .flickity-prev-next-button.previous {
    left: 41vw;
}

.container-index .flickity-prev-next-button.next {
    right: 41vw;
}

.type-1 .page-detail-text {
    height: 60vh;
}

.wrapperm {
    transform: scale(0.85);
    transform-origin: 0% 0%;
    margin-top: 4vh;
}

.keyboard button {
    width: 2.7vh;
    height: 2.7vh;
    line-height: 2.7vh;
}

.med-route-sidebar {
    margin-top: -7vh;
}

#myUL {
    height: 35vh;
    padding-right: 1vh;
}

#myUL li a {
    border-radius: 1vh;
    border-color: #5da7fe;
}

.prevnexrroutslide {
    background-color: #5da7fe !important;
}

.keyboard-reviews .keyboard button {
    width: 5vh;
    height: 5vh;
    line-height: 5vh;
}